<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Innovate_Diary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Innovate_Diary.Properties.Settings>
            <setting name="ImageFile" serializeAs="String">
                <value />
            </setting>
            <setting name="FullName" serializeAs="String">
                <value />
            </setting>
            <setting name="From" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SystemP" serializeAs="String">
                <value />
            </setting>
            <setting name="Semail" serializeAs="String">
                <value />
            </setting>
            <setting name="Rpassword" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailSettingsC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AccountType" serializeAs="String">
                <value />
            </setting>
            <setting name="IncludeTags" serializeAs="String">
                <value>False</value>
            </setting>
        </Innovate_Diary.Properties.Settings>
    </userSettings>
</configuration>